# Auto detect text files and perform LF normalization
* text=auto

# Treat lockfiles and minified files as generated
*package-lock.json linguist-generated=true
*.min.js linguist-generated=true
*.min.css linguist-generated=true
